.App {
    /* padding: 0 5px; */
}

.Cards {
    display: flex;
    flex-direction: column;

    gap: 5px;
    padding: 5px;
}

.item1 { grid-area: header; }
.item2 { grid-area: image; }
.item3 { grid-area: startTime; }
.item4 { grid-area: endTime; }
.item5 { grid-area: duration; }
.item6 { grid-area: timeLeft; }
.item7 { grid-area: more; }

.Card {
  display: grid;
  grid-template-areas:
    'image image header header header header header header header'
    'image image startTime startTime startTime endTime endTime endTime more'
    'image image duration duration duration timeLeft timeLeft timeLeft more';
    grid-template-columns: repeat(9, minmax(auto, 1fr));
  grid-gap: 5px;
  background-color: #3F0071;
  padding: 5px;
  border-radius: 2%/10%;
}

.Card p {
    color: rgba(255, 255, 255, 0.813);
    font-size: 0.9rem;
}


.Card > .item1 {
    font-size: 1.2rem;
    
}

.Card img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

