.App {
    /* padding: 0 5px; */
    padding-top: 105px;
}

.Cards {
    display: flex;
    flex-direction: column;

    gap: 5px;
    padding: 5px;
}

.item1 { grid-area: header; }
.item2 { grid-area: image; }
.item3 { grid-area: startEndTime; }
.item4 { grid-area: duration; }
.item5 { grid-area: timeLeft; }
.item6 { grid-area: options; }
.item7 { grid-area: more; }

.card {
    background-color: #3F0071;
    border-radius: 10px/10px;
    padding: 7px;
}

.primaryCard {
  display: grid;
  grid-template-areas:
    'image image header header header header header header header'
    'image image startEndTime startEndTime startEndTime startEndTime startEndTime options more'
    'image image duration duration duration timeLeft timeLeft options more';
    grid-template-columns: repeat(9, minmax(auto, 1fr));
    grid-gap: 5px;
    position: relative;
}

.primaryCard p {
    color: rgba(255, 255, 255, 0.813);
    font-size: 0.9rem;
}


.primaryCard > .item1 {
    font-size: 1rem;
}

.primaryCard > .item2 {
    text-align: center;
}
.primaryCard img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.primaryCard > .item7 {
    margin-top: 5px;
}
