* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #08050ef4;
    color: white;
    width: 450px;
    min-height: 500px;
    /* position: relative; */
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-track {
    background-color: inherit;
    margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #f1f6f9;
}

/*Loader*/
.loader {
    position: absolute;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
    width: 3em;
    height: 3em;
    border: 0.5em solid rgb(25, 118, 210);
    border-left: 0.5em solid #08050ef4;
    border-radius: 50%;
    animation: load8 0.8s infinite linear;
    transition: opacity 0.3s;
}

.loader--hide {
    opacity: 0;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
